@charset "UTF-8";

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-roman-webfont.woff2') format('woff2'),
    url('fonts/crimson-roman-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-bold-webfont.woff2') format('woff2'),
    url('fonts/crimson-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src:
    url('fonts/crimson-italic-webfont.woff2') format('woff2'),
    url('fonts/crimson-italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

:root {
  --color-fg: #eef;
  --color-bg: #080264;
  --color-anim: #f00;
  --color-anim-light: #777;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* background: #000; */
  background: rgba(8, 2, 100, 1);
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

body {
  margin: 0 auto;
  font-family: "Crimson text", serif;
  quotes: '«\00A0' '\00A0»' "“" "”";
  font-size: 1.8rem;
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(18px + (26 - 18) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

h1 {
  font-size: 3.24em;
  font-weight: normal;
  text-align: center;
}

a {
  color: var(--color-bg);
  text-decoration: none;
}

.title__link {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  border: 1px solid var(--color-fg);
  text-decoration: none;
  /* text-decoration: underline solid var(--color-fg); */
  padding: 0.3em;
  margin: 1em 0;
}

.title__link:hover,
.title__link:focus,
.title__link:active {
  color: var(--color-anim);
  border: 1px solid var(--color-anim);
  /* text-decoration: underline solid var(--color-anim); */
}
@media (max-width: 55em) and (orientation: landscape ) {
  .show {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 2em;
  }
  .title__link {
    margin: 0.5em 0;
  }
}

p {
  margin: 0 auto;
  max-width: 66ch;
}

.habitacles {
  width: 84vw;
  height: 88vh;
  height: calc(var(--vh, 1vh) * 88);
  /* width: 100vw; */
  /* height: 100vh; */
  /* height: calc(var(--vh, 1vh) * 100); */
  background: rgba(8, 2, 100, 0.6);
  color: var(--color-fg);
  /* color: rgba(8, 2, 100, 1); */
  /* background: rgba(255, 255, 255, 0.6); */
  border-radius: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 1em 2em;
  position: fixed;
  top: 6vh;
  top: calc(var(--vh, 1vh) * 6);
  left: 8vw;
  bottom: 0;
  right: 0;
  z-index: 100;
}
.habitacles::-webkit-scrollbar {
    display: none;
}

.texte {
  position: relative;
}

/* Modifications spécifiques */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.button {
  cursor: pointer;
  margin: 1.62em;
  color: #fff;
  font-size: 1.2em;
  outline: none;
  padding-top: 0.3em;
  transition: all 0.4s linear;
}

.button:hover,
.button:focus {
  transform: rotate(360deg);
  transform-origin: center center;
  outline: none;
}

.menu {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  outline: none;
}

.musique {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  width: 2em;
  height: 2em;
  outline: none;
}

.button.close {
  z-index: 110;
  display: inline-block;
  position: fixed;
  top: 6vh;
  top: calc(var(--vh, 1vh) * 6);
  right: 8vw;
  /* right: 0.2em; */
  padding: 0;
  margin: 0;
  width: 2.2em;
  height: 2.2em;
  outline: none;
  transition: all 0.25s linear;
  font-size: 1em;

  svg {
    fill: #fff;
    /* fill: rgba(8, 2, 100, 1); */
  }

  &:hover,
  &:focus {
    transform: rotate(90deg);
    transform-origin: center center;
  }
}

@media (min-width: 55em) {
  .habitacles {
    width: 90vw;
    height: 90vh;
    height: calc(var(--vh, 1vh) * 90);
    top: 5vh;
    top: calc(var(--vh, 1vh) * 5);
    left: 5vw;
  }

  .button.close {
    top: 5vh;
    top: calc(var(--vh, 1vh) * 5);
    right: 5vw;
  }
}

.none {
  display: none;
}

.pagetitre {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  z-index: 105;
  background: rgba(8, 2, 100, 0.6);
}

.hide {
  display: none;
}

.show--menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.show--texte {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
}

.pagetitre .credit {
  font-size: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 1em;

  a {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  border-bottom: 1px solid var(--color-fg);
  /* text-decoration: underline solid var(--color-fg); */
  }
  a:hover,
  a:active,
  a:focus {
  color: var(--color-anim);
  border-bottom: 1px solid var(--color-anim);
  /* text-decoration: underline solid var(--color-anim); */
  }
}

audio {
  visibility: hidden;
}

.loading {
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  opacity: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 1s ease-in-out 0.4s;
  background: var(--color-bg);
}
.loading p {
  position: absolute;
  font-size: 5em;
  color: var(--color-fg);
  margin: 0;
}
.loading p:nth-child(2) {
  font-size: 5em;
  animation: loadingFade 1s ease infinite;
}

.pace-done .loading {
  opacity: 0;
  z-index: -1;
}

@keyframes loadingFade{
  0% {
    opacity:1;
  }
  50% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.u {
  text-decoration: underline;
}

.uu {
  text-decoration: underline double;
}

del {
  text-decoration: line-through solid;
}

/* For pace.js */
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 6em;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 200px;
  background: #eef;
  border: 1px solid #eef;
  overflow: hidden;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 200px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: var(--color-bg);
}

.pace.pace-inactive {
  display: none;
}
